.p-title{
    text-shadow: rgba(0, 0, 0, 0.247) 0px 4px 4px;
}


.intro-blurb{
    min-width: 70%;
}




.josefin{
  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

