.background{
    position: relative;
    overflow: hidden;
    z-index: 0;
}


.background::before{
    content: "";

    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;

    background: url('./assets/background.png') center/cover no-repeat;
    
    mask-image: linear-gradient(to right,rgb(0 0 0 / 60%), transparent);    
    
    z-index: -1;

}

.border-thickness{
    border-top-width: 3px;
}

main{
    padding-left: 6%;
    padding-right: 6%;
    /* padding-left: 75px;
    padding-right: 75px; */
}

hr{
    border: none;
    border-top: 1px dotted #36404E;
}